html {
    background-color: #f0f0f0;
}

body {
    font-family: 'DejaVu Sans', Arial, Helvetica;
    font-size: 12px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin: 0 auto;
    padding: 20px 20px;
    width: 900px;
}

.mb0 {
    margin-bottom: 0;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mt20 {
    margin-top: 20px;
}