<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Photo Service by Mindaugas</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <!-- Optional Bootstrap theme -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css">
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
<header>
  <div class="container">
    <h1>Header</h1>
  </div>
</header>

<section layout:fragment="content-section" class="mt-sm-2">
</section>

<footer>
  <div class="container">
    <div class="row top-buffer">
      <div class="col-auto mr-auto"></div>
      <div class="col-auto">powered by SpringBoot</div>
    </div>
  </div>
</footer>

</body>
</html>