<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css">
</head>
<body>
<div class="container">
  <div class="row mb10">
    <div class="col-12">
      <h3 class="mb0">Add XML RSS Feed</h3>
      <i>Please provide new xml rss information</i>
    </div>
  </div>

  <form th:action="@{/create}" th:object="${feed}" method="post">
    <div class="row">
      <div class="form-group">
        <label>XML RSS Feed Url:</label>
        <input class="form-control" type="text" name="url" th:field="*{url}">
      </div>
      <div class="form-group">
        <label>XML RSS Feed Name:</label>
        <input class="form-control" type="text" name="feedName" th:field="*{feedName}">
      </div>
      <div class="form-group">
        <input class="btn btn-outline-primary" type="submit" value="Add feed">
      </div>
    </div>
  </form>
  <!--search-->

  <div class="row mt20 mb10">
    <div class="col-12">
      <h3 class="mb0">XML RSS Feed</h3>
      <i>Please find the list of all available feeds</i>
    </div>
  </div>

  <table>
    <tr th:each="feedListItem: ${service.feedListItems}">
      <td th:text="${feedListItem.feedName}"></td>
      <td>
        <form th:action="@{/view}" th:object="${feedListItem}">
          <button type="submit" name="id" th:value="*{id}">
            View
          </button>
        </form>
      </td>
    </tr>
  </table>
</div>

</body>
</html>